# Ignore Terraform Executable Files
terraform.exe
*.exe

# Ignore Local .terraform directories
**/.terraform/*

# Ignore .tfstate files
*.tfstate
*.tfstate.*

# Ignore Crash Log Files
crash.log
crash.*.log

# Ignore Sensitive Variable Files
#*.tfvars
#*.tfvars.json

# Ignore Override Files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore Transient Lock Files
.terraform.tfstate.lock.info

# Ignore Terraform Plan Files
*.tfplan

# Ignore CLI Configuration Files
.terraformrc
terraform.rc

# Ignore Terraform lock file
.terraform.lock.hcl
terraform.tf